/* ---- Добавить статью ---- */
.comment-form {
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}
.comment-form h1 {
  margin-top: 0;
  margin-bottom: 20px;
}
.comment-form .form-field :is(label, input, textarea) {
  display: block;
}
.comment-form .form-field label {
  margin: 15px 0 8px 2px;
}
#comment-author, #comment-text {
  font-size: inherit;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--black-color);
  border-radius: 5px;
}
.comment-form-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: end;
}
#comment-cancel, #save-comment {
  font-size: inherit;
  padding: 10px;
  border-radius: 5px;
  max-width: 250px;
  width: 100%;

  transition: transform 0.3s ease;

  &:not(:disabled):active {
    transform: translateY(2px);
  }
  &:disabled {
    opacity: 0.6;
  }
}
#comment-cancel {
  border: 1px solid var(--green-color);
  background-color: var(--white-color);
  color: var(--green-color);
}
#save-comment {
  border: 1px solid transparent;
  background-color: var(--green-color);
  color: var(--white-color);
  margin-right: 10px;
}
fieldset {
  border: none;
}

// Валидация
#comment-author, #comment-text {
  &.is-invalid {
    border: 2px solid red;
    outline: none;
  }
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 1px;
}