@let author_is_invalid = form.controls.author.invalid && form.controls.author.touched;
@let text_is_invalid = form.controls.text.invalid && form.controls.text.touched;

<div class="form-wrapper" id="formWrapper">
  <form [formGroup]="form" class="comment-form" id="comment-form" (submit)="saveComment()">
    <fieldset [disabled]="isDisabled">
      <h2>Добавить комментарий</h2>
      <div class="form-field">
        <label for="comment-author">Имя</label>
        <input type="text" name="comment-author" id="comment-author" placeholder="Имя автора"
               formControlName="author" 
               [class.is-invalid]="author_is_invalid">
        @if (author_is_invalid) {
          <div class="error">
            <span>Заполните поле</span>
          </div>
        }
      </div>
      <div class="form-field">
        <label for="comment-text">Текст</label>
        <textarea type="text" name="comment-text" id="comment-text" placeholder="Текст комментария" rows="10"
                  formControlName="text"
                  [class.is-invalid]="text_is_invalid">
        </textarea>
        @if (text_is_invalid) {
          <div class="error">
            <span>Заполните поле</span>
          </div>
        }
      </div>
      <div class="comment-form-buttons">
        <button type="button" id="comment-cancel">Отмена</button>
        <button type="submit" id="save-comment" [disabled]="form.invalid">Отправить</button>
      </div>
    </fieldset>
  </form>
</div>