
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
:root {
  --blue-color: #007bff;
  --light-blue-color: #eff6ff;
  --dark-blue-color: #323747;

  --orange-color: #FF4500;
  --light-orange-color: #FEF3EF;

  --red-color: #ff3535;

  --green-color: #61C15C;
  --light-green-color: #F4FBF4;

  --gray-color: #808080;
  --light-gray-color: #e9ecef;
  --dark-gray-color: rgb(95, 95, 95);

  --white-color: #fff;
  --black-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
h4 {
  font-size: 16px;
  font-weight: 700;
}
p {
  font-size: 16px;
  font-weight: 400;
}

header, main, footer {
  padding-left: 50px;
  padding-right: 50px;
}
section {
  margin: 70px 0;
}
section h1 {
  margin-bottom: 15px;
}

html {
  scroll-behavior: smooth;
}