<div class="form-wrapper" id="formWrapper" [class.is-open]="isShow()">
  <form action="#" #addArticleForm="ngForm" class="add-article-form" id="add-article-form" (submit)="addArticle(addArticleForm)">
    <fieldset [disabled]="isDisabled">
      <h1>Добавить статью</h1>
      <div class="form-field">
        <label for="article-title">Заголовок</label>
        <input type="text" name="article-title" id="article-title" [(ngModel)]="title" placeholder="Заголовок статьи" required>
      </div>
      <div class="form-field">
        <label for="article-text">Текст</label>
        <textarea type="text" name="article-text" id="article-text" [(ngModel)]="text" placeholder="Текст статьи" rows="10"
          required></textarea>
      </div>
      <div class="add-article-buttons">
        <button type="submit" id="add-article">Добавить</button>
        <button type="button" id="add-article-cancel" (click)="closeAddArticleForm()">Отмена</button>
      </div>
    </fieldset>
  </form>
</div>