<footer>
  <address>
    <div class="contacts" id="contacts">
      <h1>Давайте знакомиться и строить планы!</h1>
      <p>Email: <a href="mailto:a-leznev@mail.ru">a-leznev@mail.ru</a></p>
      <p>Телефон: <a href="tel:+7 (923) 180-70-45">+7 (923) 180-70-45</a></p>
    </div>

    <div class="social-networks">
      <a href="https://vk.com/arrrtyy"><img src="assets/vk_logo.svg" alt="ВК" class="logo"></a>
      <a href="https://t.me/arty_y_y"><img src="assets/telegram-logo.svg" alt="Telegram" class="logo"></a>
    </div>

    <div class="copyright">© 2026 Brand, Inc</div>
  </address>
  <form action="#" class="send-message">
    <div class="form-field">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="examle@mail.com" required>
    </div>

    <div class="form-field">
      <label for="message">Введите сообщение</label>
      <textarea type="text" name="message" id="message" placeholder="Опишите ваш проект" rows="10" required></textarea>
    </div>

    <button type="submit">Отправить</button>
  </form>
</footer>