@let articleId = article().id;
@if (viewMode() === 'blog') {
  <article class="article-card">
    <div class="article-img-container">
      <img [src]="article().img_path" alt="Изображение статьи">
      <div class="article-actions">
        <button class="edit-article" title="Редактировать статью" (click)="editArticle(articleId)">
          <img src="assets/edit-article.svg" alt="Редактировать статью" class="edit-article-icon">
        </button>
        <button class="remove-article" title="Удалить статью" (click)="deleteArticle(articleId)">
          <img src="assets/remove-article.svg" alt="Удалить статью" class="remove-article-icon">
        </button>
      </div>
    </div>
    <div class="article-content">
      <h2>{{ article().title }}</h2>
      <p>Опубликовано: <time [dateTime]="article().date">{{ formatToHumanDate(article().date) }}</time></p>
      <p>{{ article().text }}</p>
    </div>
  </article>
} @else {
  <article class="article-card">
    <div class="article-content">
      <span>Опубликовано: <time [dateTime]="article().date">{{ formatToHumanDate(article().date) }}</time></span>
      <h2>{{ article().title }}</h2>
      <p>{{ article().text }}</p>
    </div>
    <img [src]="article().img_path" alt="Изображение статьи">
  </article>
}