@let articleId = article().id;
@switch (viewMode()) {
  @case ('main') {
    <article class="article-card" [routerLink]="['/article', articleId]">
      <div class="article-content">
        <span>Опубликовано: <time [dateTime]="article().date">{{ formatToHumanDate(article().date) }}</time></span>
        <h2>{{ article().title }}</h2>
        <p>{{ article().text }}</p>
      </div>
      <img [src]="article().img_path" alt="Изображение статьи">
    </article>
  }
  @case ('blog') {
    <article class="article-card" [routerLink]="['/article', articleId]">
      <div class="article-img-container">
        <img [src]="article().img_path" alt="Изображение статьи">
        <div class="article-actions">
          <button class="edit-article" title="Редактировать статью" (click)="editArticle(articleId, $event)">
            <mat-icon svgIcon="edit-article" class="edit-article-icon"></mat-icon>
          </button>
          <button class="remove-article" title="Удалить статью" (click)="deleteArticle(articleId, $event)">
            <mat-icon svgIcon="remove-article" class="remove-article-icon"></mat-icon>
          </button>
        </div>
      </div>
      <div class="article-content">
        <h2>{{ article().title }}</h2>
        <p>Опубликовано: <time [dateTime]="article().date">{{ formatToHumanDate(article().date) }}</time></p>
        <p>{{ article().text }}</p>
      </div>
    </article>
  }
  @case ('article') {
    <article class="article-card">
      <img [src]="article().img_path" alt="Изображение статьи">
      <div class="article-content">
        <div class="content-info">
          <h2>{{ article().title }}</h2>
          <p>{{ article().text }}</p>
          <span>Опубликовано: <time [dateTime]="article().date">{{ formatToHumanDate(article().date) }}</time></span>
        </div>
        <app-rating [rating]="article().rating" (ratingChanged)="changeArticleRating($event)"></app-rating>
      </div>
    </article>
  }
}