<section class="education">
  <h1>Образование:</h1>
  <div class="education-card">
    <div class="education-card-header">
      <span>NSTU</span>
      <span>2021 – 2025</span>
    </div>
    <h2>Новосибирский государственный технический университет</h2>
    <p><strong>Бакалавриат по специальности</strong> "Прикладная математика и информатика"</p>
    <p><strong>Выпускная работа:</strong> "Сравнительный анализ подходов к разработке цифровых помощников при
      обучении студентов (на примере ИТ-дисциплины)"</p>
  </div>
</section>